In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres@0.0.0.0:54320/sparkifydb

'Connected: postgres@sparkifydb'

In [3]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://postgres@0.0.0.0:54320/sparkifydb
0 rows affected.

[]

In [4]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://postgres@0.0.0.0:54320/sparkifydb
4 rows affected.

[(8, 'Kaylee', 'Summers', 'F', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (26, 'Ryan', 'Smith', 'M', 'free'),
 (101, 'Jayden', 'Fox', 'M', 'free')]

In [5]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://postgres@0.0.0.0:54320/sparkifydb
1 rows affected.

[('SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 218.93179)]

In [6]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://postgres@0.0.0.0:54320/sparkifydb
1 rows affected.

[('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan)]

In [7]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://postgres@0.0.0.0:54320/sparkifydb
1 rows affected.

[(datetime.date(2018, 11, 1), 21, 1, 44, 11, 2018, 3)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

In [11]:
%sql INSERT INTO songplays (start_time, user_id, song_id, artist_id, session_id, location, user_agent) VALUES (Timestamp("2018-11-01 21:01:46.796000"), 8, None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')

 * postgresql://postgres@0.0.0.0:54320/sparkifydb
(psycopg2.errors.SyntaxError) syntax error at or near ""2018-11-01 21:01:46.796000""
LINE 1: ...ssion_id, location, user_agent) VALUES (Timestamp("2018-11-0...
                                                             ^

[SQL: INSERT INTO songplays (start_time, user_id, song_id, artist_id, session_id, location, user_agent) VALUES (Timestamp("2018-11-01 21:01:46.796000"), 8, None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')]
(Background on this error at: http://sqlalche.me/e/f405)